@font-face {
  font-family: 'MyFont';
  src: url('../public/fonts/WhoaSaucePersonalUseBold-mLmV5.ttf') format('truetype');
}


.logo h1 {
  margin-left: 35%;
  font-size: 2rem;
  color: aliceblue;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 10px;
  height: 91vh;
  overflow: hidden;
  background-color: rgba(17, 19, 19, 0.208);
  min-height: 100vh;
  padding-bottom: 50px; 
  position: relative;
}

.text-content {
  max-width: 50%;
  text-align: left;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 120px;
  z-index: 1; /* Ensure text content is above the other elements */
}

.text-content h1 {
  font-size: 52px;
  margin: 0;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-family: 'MyFont';
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  animation: typing 4s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

.text-content p {
  font-size: 25px;
  text-align: justify;
  margin: 20px 0 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-content {
  position: relative;
}

.image-content .astronaut {
  width: 300px;
  position: absolute;
  top: -900px;
  left: -700px;
  transform: translate(50vw, -50vh); 
  animation: move45deg 8s linear infinite; 
  transform: scaleX(-1);
}

@keyframes move45deg {
  0% {
    transform: translate(0vw, 100vh) scaleX(1); /* Start from the bottom left with no flip */
  }
  49% {
    transform: translate(45vw, 0vh) scaleX(1); /* Move to the top right with no flip */
  }
  50% {
    transform: translate(45vw, 0vh) scaleX(-1); /* Immediately flip */
  }
  100% {
    transform: translate(0vw, 100vh) scaleX(-1); /* Move back to the bottom left flipped */
  }
}





@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}



@media only screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 0 20px 50px;
  }

  .text-content {
    max-width: 100%;
    text-align: center;
    font-size: large;
  }

  .text-content h1 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 36px;
    border-right: 0px;
  }

  .text-content p {
    font-size: 20px;
  }

  .logo h1 {
    margin-left: 0;
    text-align: center;
  }

  .image-content .astronaut {
    width: 150px;
    top: -550px;
    left: -250px;
    transform: translate(50vw, -50vh) scaleX(-1);
  }
  
}
.play-audio-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bf00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.play-audio-button:hover {
  background-color: #9500b3;
}